// plugins {
//     tab-bar location="zellij:tab-bar"
//     status-bar location="zellij:status-bar"
//     strider location="zellij:strider"
//     compact-bar location="zellij:compact-bar"
//     session-manager location="zellij:session-manager"
//     welcome-screen location="zellij:session-manager" {
//         welcome_screen true
//     }
//     filepicker location="zellij:strider" {
//         cwd "/"
//     }
//     configuration location="zellij:configuration"
//     plugin-manager location="zellij:plugin-manager"
// }

default_shell "nu" // Default: $SHELL
pane_frames false // less clutter
theme "catppuccin-mocha" // Catppuccin is built-in
// scroll_buffer_size 50000
copy_on_select false
// scrollback_editor "/opt/homebrew/bin/nvim" // this should default to $EDITOR if not specified
pane_viewport_serialization true
scrollback_lines_to_serialize 0 // serialize all scrollback

// TODO
// default_layout "default"